body{
    color:#414141;
}
.photo{
	margin-top:10vw;
	height:20vw;
	background-color:#353857 !important;
	background-image:url('design/contact-us-background2.jpeg');
	background-color:rgba(0, 0, 0, 1) !important;
	background-size:cover;
	overflow: hidden;
    color: #FFFFFF
}

.color{
	background-color:rgba(0, 0, 0, 0.5) !important;
    overflow: hidden;
    height: 100%;
    z-index: 2;
    color:#fff;
    text-align:center;
    font-size:4vw;
    text-transform: uppercase;
    line-height: 20vw;
    font-weight:bold;
}
h3{
    text-align:center;
}
.conts432{
    margin:0 auto;
    padding:0 auto;
    display:block;
    width:72vw;
    margin-bottom:30vw;
    margin-top:4vw;
}