@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
	font-family: 'Raleway' !important; 
	margin:0;
	padding:0;
	max-width: 100%;
    overflow-x: hidden;
    margin-bottom:0;
    padding-bottom:0;
}

.title{
	position: absolute;
	text-align: center;
	padding-top:3.6vw;
	width:100vw; 
    display:inline-flex;
    vertical-align: middle;
	z-index:2;
	color:#ffffff;
	font-size:0.5vw;
	opacity:200%;
	font-family: 'Raleway' !important; 
}
@font-face {
    font-family: Ralbold;
    src: url('https://fonts.googleapis.com/css?family=Raleway:800');
    font-weight:bold;
}
@media only screen and (min-width: 767px) {
	#bar1{
		z-index:9;
		position:inherit !important;
		margin-bottom:0;
		border:none;
		border-radius:0 !important;
		background-color:transparent;
		margin-top:10vw !important;
		text-align:center !important;
		width:70vw;
		height:none !important;
		border-style:solid;
		border-color:#fff;
		margin-right:15vw;
		margin-left:15vw;
		border-right:none;
		border-left:none;
	}
	.drp{
		background-color:#fff !important;
		border-radius:1vw !important;
	}
	.drp > li >a {
		color:green !important;
		font-size:0.7vw !important;
	}
	.dropdown-menu > li > a:hover {
	    background-color: #42a061 !important;
	    background-image: none;
	    color:#fff !important;
	}
	 .navbar.transparent.navbar-inverse .navbar-inner {
	   background: rgba(0,0,0,0.4)
	}
	.nav > .active > a {
		background-color:#42a061 !important;

	}
	.nav > .active{
		background-color:#42a061 !important;
		font-family:'Ralbold', serif, !important;
		font-weight:bold;
		border-radius:1vw;
		margin-right:4.37vw;
		margin-left:6.5vw;
		margin-top:1vw;
		margin-bottom:0;
		text-align:center !important;
		padding-right: 1vw !important;
		padding-top:0 !important;
		padding-bottom:0 !important;
		padding-left:1vw !important;

	}
	@media only screen and (min-width: 767px) {
	.nav > li > a {
		color:white !important;
		padding:0 !important;
		font-size:1vw !important;
		letter-spacing: 0.1vw;
		text-transform:uppercase !important;
		background-color:none !important;
		font-family:'Ralbold', serif, !important;
		font-weight:bold;
	}
}
	.pages{
		display: inline-block !important;
	    vertical-align: middle !important;
	    float: none !important;
		color:white !important;
		margin-top:1vw;
		margin-bottom:1vw !important;
		text-transform:uppercase !important;
		background-color:none !important;
		font-family:'Ralbold', serif, !important;
		font-weight:bold;
		border-radius:1vw;
		margin-bottom:0;
		margin-right:2vw;
		text-align:center !important;
		padding-right: 0.7vw !important;
		padding-top:0 !important;
		padding-bottom:0 !important;
		padding-left:0.7vw !important;

	}
	.pages:hover{
		background-color:#42a061;
	}
	.pages:focus{
		background-color:#42a061;
	}
	.dropdown-toggle:focus{
		background-color:#42a061 !important;
		padding-left:1vw !important;
		padding-right:1vw !important;
		border-radius:1vw;
	}
	.dropdown-menu{
		margin-top:0.3vw !important;
	}
	.dropdown-menu:before {
	  position: absolute;
	  top: -7px;
	  right: 2.2vw;
	  display: inline-block;
	  border-right: 7px solid transparent;
	  border-bottom: 7px solid #ccc;
	  border-left: 7px solid transparent;
	  border-bottom-color: rgba(0, 0, 0, 0.2);
	  content: '';
	}
	.nav > .active > a {
	background-color:#42a061 !important;

}

	.dropdown-menu:after {
	  position: absolute;
	  top: -6px;
	  right: 2.2vw;
	  display: inline-block;
	  border-right: 6px solid transparent;
	  border-bottom: 6px solid #ffffff;
	  border-left: 6px solid transparent;
	  content: '';
	}
}

.shit1{
	z-index:9;
	 background-color:transparent;
}
.info{
	z-index:2;
	position:absolute;
	color:#fff !important;
	margin-left:12.5vw;
	margin-right:12.5vw;
	margin-top:17.3vw;
	width:75vw;
	text-transform:capitalize;
}
.title > h1{
	text-align:center;
	margin:0 auto;
	font-size:2.73vw;
	text-transform:bold
}
.title > .name{
	text-align:center;
	margin:0 auto;
	font-size:2.73vw;
	text-transform:bold

}
.info > h2{
	text-align:left;
	font-size:2.7vw;
	font-family:'Ralbold', serif, !important;
	font-weight:bold;
	margin-bottom:0;
}
.info > p{
	text-align:left;
	margin-top:1vw;
	font-size:1.3vw;
}
.info > a {
	text-transform:capitalize;
	text-align:center !important;
	border-style:solid;
	border-color:#ffffff;
	border-width:1px;
	border-radius:5px;
	margin:auto;
	margin-top:1.5vw;
	font-size:1.2vw;
	padding-left:1.3vw;
	padding-right:1.3vw;
	text-transform:uppercase;
	position: absolute;
 	left: 32vw;
 	z-index:15 !important;
 	margin-bottom:1.5vw !important;
}
.info > a:hover {
	color: #fff !important;
	 text-shadow: 2px 2px 5px #fff !important;
}

.pads li{
	margin-right:0.5vw !important;

}
.pads{
	z-index:15 !important;
	margin-top:1.5vw !important;

}
.flex-container11 {
  display: flex;
  justify-content: center;
  background-color: none;
}

.product {
  background-color: #42a061;
  width: 12vw;
  height: 12vw;
  -moz-border-radius: 6vw;
  -webkit-border-radius: 6vw;
  margin:0 auto;

}
.product > img{
	width:8vw;
	height:8vw;
	text-align:center;
	margin:0;
	margin-top:2vw;
}
.products{
	margin-top:4vw;
	text-align:center;
	text-transform:uppercase;
}
.products > h3{
	font-size:2.5vw;
	color:#343434;
	text-align:center;
}
.desc{
	text-align:center;
	margin: 6vw;
  	margin-top:4vw;
	margin-bottom:0;
	width:20vw;

}
.desc > h4{
	margin-top:1vw;
	color:#343434;
	font-size:2vw;
	text-transform:capitalize;
	margin-bottom:2vw;
}
.desc > p{
	 text-align: justify-all;
	 font-size:0.9vw;
}
.gallerytop{
	margin-left:12.5vw;
	margin-top:4.5vw;
	margin-bottom:1.6vw;
}
.gallerytop > h2 {
 	width:75vw;
 	font-size:2.5vw;
 	text-align:center;
 	border-bottom: 3px solid #e4e1e1;
 	line-height:0.1em;
 	margin:0px;
 } 
.gallerytop > h2 span { background:#fff;
 padding:0px;
 margin-right:3.5vw;
 margin-left:3.5vw; 
 font-size:2.5vw;
 color:#343434;
 text-transform:uppercase;
}
.gallery > q{
	text-align:center;
	text-transform:bold !important;
	margin-bottom:0;
}
.qoute{
	width:44vw;
	float:none;
	margin:0 auto;
	font-size:1vw;
	text-align:center;
	margin-bottom:4.6vw;
}
.qoute > span{
	text-align:right;
	float:right;
	margin-top:0;
	font-style:italic;
	font-size:0.8vw;
}
.imgs11 {
	display:flex !important;
	margin-top:4.9vw !important;
	margin-bottom:0;
}
.img11 {
	display:inline-flex !important;
   margin: auto !important;
   padding: 1px !important;
   width: 25% !important;
   height:16.3vw;
}

 .blog{
 	position:relative;
 	width:86vw;
 	margin-top:8.1vw;
 	margin-right:7vw;
 	margin-left:7vw;
 }
 
 .blogs{
 	position:relative;
 	width:42vw;
 	height:27vw !important;
 	margin-bottom:6vw;
 }
 .blogs > h3 {
 	font-size:2.1vw;
 	width:100%;
	margin-right:2vw;
	text-transform:bold;
 }
 .blogs > p{
 	margin-right:2vw;
 	width:100%;
 	font-size:1.5vw;
 }
 .blogs > a{
 	position:absolute;
 	bottom:0;
 	right:0;
 	float:right;
 	font-size:1.1vw;
 	background-color:#42a061;
 	padding-top:0.8vw;
 	padding-bottom:0.8vw;
 	border-radius:0.5vw;
 	padding-right:1vw;
 	padding-left:1vw;
 	text-transform:uppercase;
 }
 .blogs-left{
 	float:left;
 	margin-right:1vw;
 }
 .blogs-right{
 	float:right;

 }
 .moreblogs > a {
 	text-align:center;
 	margin:0 auto;
 	font-size:1.33vw;
 	background-color:#42a061;
 	padding-top:0.5vw;
 	padding-bottom:0.5vw;
 	border-radius:0.5vw;
 	padding-right:2.1vw;
 	padding-left:2.1vw;
 	margin-bottom:3.8vw;
 	text-transform:uppercase;
 	}
 .moreblogs{
 	text-align:center;
 	margin:0 auto;
 	 margin-bottom:3.8vw

 }
.sub{
	height:27vw;
	background-color:#353857 !important;
	background-image:url('imgs/081.jpg');
	background-color:rgba(0, 0, 0, 1) !important;
	background-size:cover;
	margin-bottom:3.27vw;
}
.sub > .color > h6{
	color:white;
	text-align:center;
	font-size:3.77vw;
	padding-top: 2.4vw;
}
.sub > .color > p{
	margin-top:0;
	color:white;
	text-align:center;
	font-size:1.45vw;
	font-style:italic;
	padding-top:0;
	padding-bottom:2.7vw;
}
.color{
		background-color:rgba(0, 0, 0, 0.2) !important;
		height:100%;
}

.findus{
	margin:0 auto;
	padding:0 auto;
	width:86vw;
	display:flex;
  	flex-direction:row;
   	align-items: center;
}
.findus > img{
	height:4.37vw;
    float: left;
}
.findus > h6{
	padding-top:1.09vw;
	font-size:2.73vw;
	padding-left:0;
	overflow:hidden;
	color:#343434;
	text-transform:capitalize;
	display:block;
	flex-grow:0;
}
.divid{
	width:70vw;
	overflow:hidden;
	float:right;
  	height: 2vw;
  	margin-left:1vw;
 	background-color: #fff;
 	border-bottom-style:solid;
 	border-bottom-width:0.2vw;
 	border-bottom-color:#e4e1e1;
}
#map {
        height: 35vw;
        width: 44.8vw;
        margin-left:7.1vw;
        margin-top:3.8vw;
        margin-bottom:7.6vw;
        float:left;
        border-style:solid;
        border-color:#414141;
        border-width:2px;
       }

.findus1{
	padding-top:3.8vw;
	float:right;
	width:42vw;
	font-size:1.73vw;
	padding-left:0;
	overflow:hidden;
	color:#343434;
	text-transform:capitalize;
	display:block;
	flex-grow:0;
}
.icns1{
	height:4vw;
    float: left;
    display: inline-block;
}
.findus2{
	display:none;
}
@media only screen and (max-width: 767px) {
	.navbar-inverse{
		background-color:#414141 !important;
	}
	.info > h2{
		font-size:20px !important;
	}
	.info > p{
		font-size:13px !important;
		display:none;
	}
	.info{
		display:none;
	}
	.pages{
		width:100vw !important;
		text-align:center !important;
		float:center !important;
		margin:0 auto !important;
		margin-bottom:5px !important;
	}
	.nav > li > a {
		color:white !important;
		font-size:18px !important;
		text-transform:uppercase !important;
		background-color:none !important;
		font-family:'Ralbold', serif, !important;
		font-weight:bold;
		padding-top:3px !important;
		padding-bottom:3px !important;
	}
	.nav > li{
		margin-bottom:10px !important;
	}
	.navbar-brand{
		font-weight:bold !important;
	}
	.nav > .active {
		width:100vw !important;
		float:left !important;
	}
	#myCarousel{
		margin-top:42px !important;
	}

}
@media only screen and (max-width: 767px) {
	.products > h3{
		font-size:15px;
	}
	.title > h1{
		display:none;
	}
	.product {
	  width: 18vw;
	  height: 18vw;
	  -moz-border-radius: 9vw;
	  -webkit-border-radius: 9vw;
	  margin:0 auto;

	}
	.product > img{
		width:12vw;
		height:12vw;
		text-align:center;
		margin:0;
		margin-top:3vw;
	}
	.desc{
		text-align:center;
		margin: 2vw !important;
	  	margin-top:4vw;
		margin-bottom:0;
		width:20vw;
	}

	.desc > h4{
		font-size:14px !important;
	}
	.desc > p{
		 text-align: justify-all;
		 font-size:9px !important;
	}
}

@media only screen and (max-width: 767px) {
	.gallerytop > h2 {
	 	font-size:15px;
	 } 
	.gallerytop > h2 span {
		 margin-right:6px;
		 margin-left:6px; 
		 font-size:15px;
	}
	.qoute{
		font-size:10px;
		width:60vw;
	}
	.qoute > span{
		font-size:6.5px;
	}
	.blogs > h3{
		margin-top:0 !important;
		margin-bottom:3px !important;
		font-size:13px;
	}
	.blogs > p {
		font-size:9.3px;
	}
	.blogs > a{
		font-size:7.5px;
		padding-right:2vw;
		padding-left:2vw;
		border-radius: 3px;
	}
	.blogs{
		width:95%;
		height:61vw !important;
	}
	.blogs-right{
		float:none;
	}
	.blogs-left{
		float:none;
	}
	.text{
		height:135px !important;
	}
	.img11{
		width:25vw;
	}
	.moreblogs > a{
		font-size:9px;
		border-radius:3px;

	}
	.sub> .color > h6{
		font-size:20px;
		margin-bottom:0;
	}
	.sub > .color > p{
		font-size:7.6px;
		margin-top:2px;
		margin-bottom:0;
	}
	.sub1{
		font-size:13px;
		width:73px;
		height:23px;

	}
	.e-mail{
		height:23px !important;
	}
	.form-control{
		padding:0 0 !important;
		padding-left:9px !important;
	}
	input[type="email"]{
		font-size:13px;
	}
	::placeholder {
		font-size:13px;
	}
	.findus > h6{
		font-size:20px;
		max-height:25px;
	}
	.findus > img{
		height:20px;
	}
	.divid{
		width:150px;
		margin-left:10px;		
	}
	#map{
		width:auto;
		height:85vw;
		margin:0 auto !important;
		display:block !important;
		float:none !important;
	}
	.mail21{
		display:none;
	}
	.mai12{
		float:left;
		width:42vw;
	}
	.findus1{
		width:40vw;
		float:left;
		margin-left:30px;
	}
	.findus2{
		display:block;
		float:right;
		width:49vw;
		padding-top:3.8vw;
	}
	#mail-com{
		display:none;
	}
	.icns1{
		height:17px;
	}
	.contact1{
		padding-top:0;
		font-size:10px;
		line-height:20px;
	}
}